/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #ffffff;
  color: #1f2937;
}


/* =========================
   ANA CONTAINER
========================= */

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}



/* =========================
   SAĞ PANEL
========================= */

.right-panel {
  position: relative;

  width: 50%;
  flex: 0 0 50%;

  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  background: #fafafa;

  padding: 40px;
}



/* =========================
   LINKS
========================= */

a {
  transition: 0.2s;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1000px) {

  .container {
    flex-direction: column;

    height: auto;

    min-height: 100vh;

    overflow: auto;
  }

  .left-panel {
    width: 100%;

    flex: none;

    min-height: 650px;

    height: auto;

    padding: 70px 35px;
  }

  .right-panel {
    width: 100%;

    flex: none;

    min-height: 700px;

    height: auto;

    padding: 50px 25px;
  }

  .left-content {
    width: 500px;

    max-width: 100%;
  }
}


@media (max-width: 600px) {

  .left-panel {
    padding: 50px 25px;

    min-height: 600px;
  }

  .left-content {
    width: 100%;
  }

  .logo {
    font-size: 40px;
  }

  .description {
    font-size: 14px;
  }

  .right-panel {
    padding: 35px 20px;
  }

  .login-card {
    width: 100%;

    padding: 30px 25px;
  }

  .login-title {
    font-size: 23px;
  }
}